<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <title>Demo1</title>
    </head>
    <body>
        <div>Result:</div>
        <img src="./response/predictions.jpg">
        <div><%= resData %></div>
        <input type="submit" value="Detect another picture" onclick="window.location='/';" />
    </body>
</html>
